<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
<script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/tables.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/forms.js'}" type="text/javascript" charset="UTF-8"></script>
<meta charset="UTF-8">

<title>Poslovne godine</title>

</head>

<script>
function sync(item){
    godina = item.find(".pg_godina").html()
    
    zakljucena = (item.find(".pg_zakljucena").html() == 'true') ? true : false;
    if(zakljucena == true){
    	document.getElementById("zakljucivanje").disabled = true;	
    } else {
    	document.getElementById("zakljucivanje").disabled = false;
    }
    
    preduzece = item.find(".pg_p_id").html()
	id = item.find(".pg_id").html()
    $("#godina").val(godina);
    document.getElementById("zakljucena").checked = zakljucena;
    $("#preduzece").val(preduzece);
    $("#id").val(id);
}

</script>

<body>
	<h1>Poslovne godine</h1>
	
	<table id="entities" border=1>
		<tr class="header">
			<th>godina</th>
			<th>zakljucena</th>
			<th>preduzece</th>
		</tr>
		#{list items:poslovneGodine, as:'poslovnaGodina'}
		<tr>
			<td class="pg_godina">${ poslovnaGodina.godina }</td>
			<td class="pg_zakljucena">${ poslovnaGodina.zakljucena }</td>
			<td class="pg_preduzece">${ poslovnaGodina.preduzece.naziv }</td>
			<td style="visibility: hidden; max-width: 0px" class = "pg_id">${poslovnaGodina.id}</td>
			<td style="visibility: hidden; max-width: 0px" class = "pg_p_id">${poslovnaGodina.preduzece.id}</td>
		</tr>
		#{/list}
	</table>
	
	<form id="crud" name="crud" action="" method="post" onsubmit="searchPoslovnegodine()">
	
		<!--  panel  -->
		<div>
			#{field 'id'}
			<input type="hidden" name="${field.id}" id="${field.id}"/>
			#{/}
				
			<p>
			#{field 'godina'}
				<label id="imelbl" for="${field.id}">Godina</label>
				<input type="number" min="2000" max="2100" name="${field.name}" id="${field.id}"/>
			#{/}
			</p>
			
			<p>
			#{field 'zakljucena'}
				<label id="zakljucenalbl" for="${field.id}">Zakljucena</label>
				<input type="checkbox" name="${field.name}" id="${field.id}" disabled="true"/>
				<button id="zakljucivanje" onclick="">Zakljuci</button>
			#{/}
			</p>

			<p>
			#{field 'preduzece'}
				<label for = "${field.id}">Preduzece</label>
				<select name = "${field.name}" id = "${field.id}"/>
				#{list items:preduzeca, as:'preduzece'}
				<option value = "${preduzece.id}">${preduzece.naziv}</option>
				#{/list}
				</select>
			#{/}
			</p>
				
		</div>
		
		<!--  buttons  -->
		<div>
			<input type="reset" value="Resetuj formu"/>
			<button onclick="setFormAction('@{Poslovnegodine.create()}')">Dodaj</button>
			<button onclick="setFormAction('@{Poslovnegodine.update()}')">Izmeni</button>
			<button onclick="checkForDeletion('@{Poslovnegodine.delete()}','Izbrisi poslovnu godinu?')">Obrisi</button>
		</div>
		
	</form>
	<a href="../main.html">HOME</a>
</body>
</html>