<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
<script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/tables.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/forms.js'}" type="text/javascript" charset="UTF-8"></script>
<meta charset="UTF-8">

<title>Robne kartice</title>

</head>

<script>

function sync(item){
    cena = item.find(".rk_cena").html()
    pocStanjeKol = item.find(".rk_pocStanjeKol").html()
    pocStanjeVrednosti = item.find(".rk_pocStanjeVr").html()
	prometUlazaKol = item.find(".rk_prometUlazaKol").html()
	prometUlazaVr = item.find(".rk_prometUlazaVr").html()
	prometIzlazaKol = item.find(".rk_prometIzlazaKol").html()
	prometIzlazaVr = item.find(".rk_prometIzlazaVr").html()
	ukKol = item.find(".rk_ukKol").html()
	ukVr = item.find(".rk_ukVr").html()
	poslovnaGodina = item.find(".rk_pg_id").html()
	magacin = item.find(".rk_m_id").html()
	roba = item.find(".rk_r_id").html()
	id = item.find(".rk_id").html()
    $("#cena").val(cena);
    $("#pocStanjeKol").val(pocStanjeKol);
    $("#pocStanjeVr").val(pocStanjeVrednosti);
    $("#prometUlazaKol").val(prometUlazaKol);
    $("#prometUlazaVr").val(prometUlazaVr);
    $("#prometIzlazaKol").val(prometIzlazaKol);
    $("#prometIzlazaVr").val(prometIzlazaVr);
    $("#ukKol").val(ukKol);
    $("#ukVr").val(ukVr);
    $("#poslovnaGodina").val(poslovnaGodina);
    $("#magacin").val(magacin);
    $("#roba").val(roba);
    $("#id").val(id);
}

</script>

<body>
	<h1>Robne kartice</h1>
	
	<table id="entities" border=1>
		<tr class="header">
			<th>cena</th>
			<th>pocetno stanje kolicina</th>
			<th>pocetno stanje vrednosti</th>
			<th>promet ulaza kolicine</th>
			<th>promet ulaza vrednosti</th>
			<th>promet izlaza kolicine</th>
			<th>promet izlaza vrednosti</th>
			<th>ukupna kolicina</th>
			<th>ukupna vrednost</th>
			<th>poslovna godina</th>
			<th>magacin</th>
			<th>roba</th>
		</tr>
		#{list items:robneKartice, as:'kartica'}
		<tr>
			<td class="rk_cena">${ kartica.cena }</td>
			<td class="rk_pocStanjeKol">${ kartica.pocStanjeKol }</td>
			<td class="rk_pocStanjeVr">${ kartica.pocStanjeVrednosti }</td>
			<td class="rk_prometUlazaKol">${ kartica.prometUlazaKol }</td>
			<td class="rk_prometUlazaVr">${ kartica.prometUlazaVr }</td>
			<td class="rk_prometIzlazaKol">${ kartica.prometIzlazaKol }</td>
			<td class="rk_prometIzlazaVr">${ kartica.prometIzlazaVr }</td>
			<td class="rk_ukKol">${ kartica.ukKol }</td>
			<td class="rk_ukVr">${ kartica.ukVrednost }</td>
			<td class="rk_poslovnaGodina">${ kartica.poslovnaGodina.godina }, ${ kartica.poslovnaGodina.preduzece.naziv}</td>
			<td class="rk_magacin">${ kartica.magacin.naziv }</td>
			<td class="rk_roba">${ kartica.roba.naziv }</td>
			<td style="visibility: hidden; max-width: 0px" class = "rk_id">${kartica.id}</td>
			<td style="visibility: hidden; max-width: 0px" class = "rk_pg_id">${kartica.poslovnaGodina.id}</td>
			<td style="visibility: hidden; max-width: 0px" class = "rk_m_id">${kartica.magacin.id}</td>
			<td style="visibility: hidden; max-width: 0px" class = "rk_r_id">${kartica.roba.id}</td>
		</tr>
		#{/list}
	</table>
	
	<form id="crud" name="crud" action="" method="post" onsubmit="searchRobnekartice()">
	
		<!--  panel  -->
		<div>
			#{field 'id'}
			<input type="hidden" name="${field.id}" id="${field.id}"/>
			#{/}
				
			<p>
			#{field 'cena'}
				<label id="cenalbl" for="${field.id}">Cena</label>
				<input type="text" name="${field.name}" id="${field.id}"/>
			#{/}
			</p>
			
			<p>
			#{field 'pocStanjeKol'}
				<label id="pocStanjeKollbl" for="${field.id}">Pocetno stanje kolicine</label>
				<input type="text" name="${field.name}" id="${field.id}"/>
			#{/}
			</p>
			
			<p>
			#{field 'pocStanjeVr'}
				<label id="pocStanjeVrlbl" for="${field.id}">Pocetno stanje vrednosti</label>
				<input type="text" name="${field.name}" id="${field.id}"/>
			#{/}
			</p>
			
			<p>
			#{field 'prometUlazaKol'}
				<label id="prometUlazaKollbl" for="${field.id}">Promet ulaza kolicine</label>
				<input type="text" name="${field.name}" id="${field.id}"/>
			#{/}
			</p>
			
			<p>
			#{field 'prometUlazaVr'}
				<label id="prometUlazaVrlbl" for="${field.id}">Promet ulaza vrednosti</label>
				<input type="text" name="${field.name}" id="${field.id}"/>
			#{/}
			</p>
			
			<p>
			#{field 'prometIzlazaKol'}
				<label id="prometIzlazaKollbl" for="${field.id}">Promet izlaza kolicine</label>
				<input type="text" name="${field.name}" id="${field.id}"/>
			#{/}
			</p>
			
			<p>
			#{field 'prometIzlazaVr'}
				<label id="prometIzlazaVrlbl" for="${field.id}">Promet izlaza vrednosti</label>
				<input type="text" name="${field.name}" id="${field.id}"/>
			#{/}
			</p>
			
			<p>
			#{field 'ukKol'}
				<label id="ukKollbl" for="${field.id}">Ukupna kolicina</label>
				<input type="text" name="${field.name}" id="${field.id}" disabled="true"/>
			#{/}
			</p>
			
			<p>
			#{field 'ukVr'}
				<label id="ukVrlbl" for="${field.id}">Ukupna vrednost</label>
				<input type="text" name="${field.name}" id="${field.id}" disabled="true"/>
			#{/}
			</p>
			
			<p>
			#{field 'poslovnaGodina'}
				<label for = "${field.id}">Poslovna godina</label>
				<select name = "${field.name}" id = "${field.id}"/>
				#{list items:poslovneGodine, as:'godina'}
				<option value ="${godina.id}">${godina.godina}, ${godina.preduzece.naziv}</option>
				#{/list}
				</select>
			#{/}
			</p>
			
			<p>
			#{field 'magacin'}
				<label for = "${field.id}">Magacin</label>
				<select name = "${field.name}" id = "${field.id}"/>
				#{list items:magacini, as:'magacin'}
				<option value = "${magacin.id}">${magacin.naziv}</option>
				#{/list}
				</select>
			#{/}
			</p>
			
			<p>
			#{field 'roba'}
				<label for = "${field.id}">Roba</label>
				<select name = "${field.name}" id = "${field.id}"/>
				#{list items:robe, as:'roba'}
				<option value = "${roba.id}">${roba.naziv}</option>
				#{/list}
				</select>
			#{/}
			</p>
				
		</div>
		
		<!--  buttons  -->
		<div>
			<input type="reset" value="Resetuj formu"/>
			<button onclick="setFormAction('@{Robnekartice.create()}')">Dodaj</button>
			<button onclick="setFormAction('@{Robnekartice.update()}')">Izmeni</button>
			<button onclick="checkForDeletion('@{Robnekartice.delete()}','ovu karticu?')">Obrisi</button>
		</div>
		
	</form>

</body>
</html>