.selected {
	background: blue;
}

html {
	
	background-color: #95d0e5;
}

body{
	margin: auto;
    width: 50%;
    text-align: center;
}

table{
    margin: auto;
	width: 50%;
	border: 2px solid black;
	border-collapse: collapse;
}	

th{
	background-color: #acadaf;
}

a{
	text-decoration: none;
	padding: 25px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
}

a:hover{
	color: red;
}

.panel {
	margin: auto;
}

.panel label {
	text-align: left;
}

table#kartice {
	
}

.inputFields {
	width: 43%;
	margin: auto;
	text-align: left;
}

.inputFields p select, input {
	float: right;
	width: 120px;
}

ul {
	list-style-type: none;
}

input[type=reset] {
	float: none;
	margin-right: 30px;
}

.buttons {
	margin-top: 30px;
}

button#zakljucivanje {
	margin-left: 30px;
}

button#proknjiziButton {
	margin-left: 30px;
}
