<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
<script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/tables.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/forms.js'}" type="text/javascript" charset="UTF-8"></script>
<meta charset="UTF-8">

<title>Magacini</title>

</head>

<script>

function sync(item){
    naziv = item.find(".m_naziv").html()
    preduzece = item.find(".m_p_id").html()
	id = item.find(".m_id").html()
    $("#naziv").val(naziv);
    $("#preduzece").val(preduzece);
    $("#id").val(id);
}

</script>

<body>
	<h1>Magacini</h1>
	
	<table id="entities" border=1>
		<tr class="header">
			<th>naziv</th>
			<th>preduzece</th>
		</tr>
		#{list items:magacini, as:'magacin'}
		<tr>
			<td class="m_naziv">${ magacin.naziv }</td>
			<td class="m_preduzece">${ magacin.preduzece.naziv }</td>
			<td style="visibility: hidden; max-width: 0px" class = "m_id">${magacin.id}</td>
			<td style="visibility: hidden; max-width: 0px" class = "m_p_id">${magacin.preduzece.id}</td>
		</tr>
		#{/list}
	</table>
	
	<br/>
	
	<form id="crud" name="crud" action="" method="post">
	
		<!--  panel  -->
		<div>
			<div class="inputFields">
			#{field 'id'}
			<input type="hidden" name="${field.id}" id="${field.id}"/>
			#{/}
				
			<p>
			#{field 'naziv'}
				<label id="nazivlbl" for="${field.id}">Naziv</label>
				<input type="text" maxlength="100" name="${field.name}" id="${field.id}"/>
			#{/}
			</p>
			
			<p>
			#{field 'preduzece'}
				<label for = "${field.id}">Preduzece</label>
				<select name = "${field.name}" id = "${field.id}"/>
				#{list items:preduzeca, as:'preduzece'}
				<option value = "${preduzece.id}">${preduzece.naziv}</option>
				#{/list}
				</select>
			#{/}
			</p>
				
			</div>
			
		</div>
		
		<!--  buttons  -->
		<div class="buttons">
			<input type="reset" value="Resetuj formu"/>
			<button onclick="setFormAction('@{Magacini.create()}')">Dodaj</button>
			<button onclick="setFormAction('@{Magacini.update()}')">Izmeni</button>
			<button onclick="checkForDeletion('@{Magacini.delete()}','ovaj magacin?')">Obrisi</button>
		</div>
		
	</form>
	<a href="../../">Home</a>

</body>
</html>