201<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
<script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/tables.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/forms.js'}" type="text/javascript" charset="UTF-8"></script>
<meta charset="UTF-8">
<title>Mesta</title>




</head>

<script>

function sync(item){
    naziv = item.find(".m_naziv").html()
    pttOznaka = item.find(".m_pttOznaka").html()
    id = item.find(".m_id").html()
    $("#naziv").val(naziv);
    $("#pttOznaka").val(pttOznaka);
    $("#id").val(id);
}

</script>



<body>
	<h1>Mesta</h1>
	
	<table id="entities" border=1>
		<tr class="header">
			<th>naziv</th>
			<th>ptt oznaka</th>
		</tr>
		#{list items:mesta, as:'mesto'}
		<tr>
			<td class="m_naziv">${ mesto.naziv }</td>
			<td class="m_pttOznaka">${ mesto.pttOznaka }</td>
			<td style="visibility: hidden; max-width: 0px" class = "m_id">${mesto.id}</td>
		</tr>
		#{/list}
	</table>
	
	<form id="crud" name="crud" action="" method="post" onsubmit="searchMesta()">
	
		<!--  panel  -->
		<div>
			#{field 'id'}
			<input type="hidden" name="${field.id}" id="${field.id}"/>
			#{/}
				
			<p>
			#{field 'naziv'}
				<label id="nazivlbl" for="${field.id}">Naziv</label>
				<input type="text" name="${field.name}" id="${field.id}"/>
			#{/}
			</p>
			
			<p>
			#{field 'pttOznaka'}
				<label id="pttOznakalbl" for="${field.id}">Postanski broj</label>
				<input type="text" name="${field.name}" id="${field.id}"/>
			#{/}
			</p>
				
		</div>
		
		<!--  buttons  -->
		<div>
			<input type="reset" value="Resetuj formu"/>
			<button onclick="setFormAction('@{Mesta.create()}')">Dodaj</button>
			<button onclick="setFormAction('@{Mesta.update()}')">Izmeni</button>
			<button onclick="checkForDeletion('@{Mesta.delete()}','ovo mesto?')">Obrisi</button>
		</div>
		
	</form>
</body>
</html>