<!DOCTYPE html>

<html>
    <head>
        <title>PI</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    </head>
    <body>
            <ul>
              <li><a href="../../">Home</a></li>
              <li><a href="../Magacini/read">Magacini</a></li>
              <li><a href="../Mesta/read">Mesta</a></li>
              <li><a href="../Preduzeca/read">Preduzeca</a></li>
              <li><a href="../Radnici/read">Radnici</a></li>
              <li><a href="../Poslovnipartneri/read">Poslovni partneri</a></li>
              <li><a href="../Analitikemagkartica/read">Analitika</a></li>
              <li><a href="../Prometnadokumenta/read">Prometni dokumenti</a></li>
              <li><a href="../Gruperoba/read">Grupe roba</a></li>
              <li><a href="../Robe/read">Robe</a></li>
              <li><a href="../Robnekartice/read">Robne kartice</a></li>
              <li><a href="../Poslovnegodine/read">Godine</a></li>
              <li><a href="../Jedinicemere/read">Jedinice</a></li>
            </ul>
        
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    </body>
</html>
