<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
<script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/tables.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/forms.js'}" type="text/javascript" charset="UTF-8"></script>
<meta charset="UTF-8">

<title>Poslovna dokumenta</title>

</head>

<script>

function sync(item){
    vrstaDokumenta = item.find(".pd_vrstaDokumenta").html()
    redniBrojDokumenta = item.find(".pd_redniBrojDokumenta").html()
    datumFormiranja = item.find(".pd_datumFormiranja").html()
	datumKnjizenja = item.find(".pd_datumKnjizenja").html
	statusDokumenta = item.find(".pd_statusDokumenta").html()
	magacin = item.find(".pd_magacin").html
	poslovniPartner = item.find(".pd_magacin").html()
	id = item.find(".pp_id").html()
    $("#vrstaDokumenta").val(vrstaDokumenta);
    $("#redniBrojDokumenta").val(redniBrojDokumenta);
    $("#datumFormiranja").val(datumFormiranja);
    $("#datumKnjizenja").val(datumKnjizenja);
    $("#statusDokumenta").val(statusDokumenta);
    $("#magacin").val(magacin);
    $("#poslovniPartner").val(poslovniPartner);
    $("#id").val(id);
    
    var x = document.getElementById("sub-entity").rows.length;
    var today = new Date();
    var datFormiranjaDate = convertDate(datumFormiranja);
    if(statusDokumenta != "F" && x > 1 && today < datFormiranjaDate && datumKnjizenja != "null"){
    	document.getElementById("zakljucivanje").disabled = true;
    }
}

function convertDate(dateString){
	// "Dec 25, 1995"
	// dd-MM-yyyy
	var today = new Date();
	var year = today.getFullYear();
	
}

</script>

<body>
	<h1>Poslovna dokumenta</h1>
	
	<table id="entities" border=1>
		<tr class="header">
			<th>Vrsta dokumenta</th>
			<th>Redni broj</th>
			<th>Datum formiranja</th>
			<th>Datum knjizenja</th>
			<th>Status dokumenta</th>
			<th>Magacin</th>
			<th>Poslovni partner</th>
		</tr>
		#{list items:dokumenti, as:'dokument'}
		<tr>
			<td class="pd_vrstaDokumenta">${ dokument.vrstaDokumenta }</td>
			<td class="pd_redniBrojDokumenta">${ dokument.redniBrojDokumenta }</td>
			<td class="pd_datumFormiranja">${ dokument.datumFormiranja }</td>
			<td class="pd_datumKnjizenja">${ dokument.datumKnjizenja }</td>
			<td class="pd_statusDokumenta">${ dokument.statusDokumenta }</td>
			<td class="pd_magacin">${ dokument.magacin.naziv }</td>
			<td class="pd_poslovniPartner">${ dokument.poslovniPartner.nazivPartnera }</td>
			<td style="visibility: hidden; max-width: 0px" class = "pd_id">${dokument.id}</td>
			<td style="visibility: hidden; max-width: 0px" class = "pd_m_id">${dokument.magacin.id}</td>
			<td style="visibility: hidden; max-width: 0px" class = "pd_pp_id">${dokument.poslovniPartner.id}</td>
		</tr>
		#{/list}
	</table>
	
	<br/>
	
	<form id="crud" name="crud" action="" method="post" onsubmit="searchPoslovnadokumenta()">
	
		<!--  panel  -->
		<div>
			#{field 'id'}
			<input type="hidden" name="${field.id}" id="${field.id}"/>
			#{/}
				
			<p>
			#{field 'vrstaDokumenta'}
				<label id="vrstaDokumentalbl" for="${field.id}">Vrsta dokumenta</label>
				<select name="${field.name}" id="${field.id}">
					<option value="Pr">Prijemnica</option>
					<option value="Ot">Otpremnica</option>
					<option value="Mm">Medju-magacinski</option>
				</select>
			#{/}
			</p>
			
			<p>
			#{field 'redniBrojDokumenta'}
				<label id="redniBrojDokumentalbl" for="${field.id}">Redni broj dokumenta</label>
				<input type="number" min="1" name="${field.name}" id="${field.id}" disabled="true"/>
			#{/}
			</p>
			
			<p>
			#{field 'datumFormiranja'}
				<label id="datumFormiranjalbl" for="${field.id}">Datum formiranja dokumenta (dd-MM-yyyy)</label>
				<input type="text" name="${field.name}" id="${field.id}"/>
			#{/}
			</p>
			
			<p>
			#{field 'datumKnjizenja'}
				<label id="datumKnjizenjalbl" for="${field.id}">Datum knjizenja dokumenta (dd-MM-yyyy)</label>
				<input type="text" name="${field.name}" id="${field.id}"/>
			#{/}
			</p>
			
			<p>
			#{field 'statusDokumenta'}
				<label id="statusDokumentalbl" for="${field.id}">Status dokumenta</label>
				<select name="${field.name}" id="${field.id}" disabled="true">
					<option value="F">Formiranje</option>
					<option value="P">Proknjizeno</option>
					<option value="S">Stornirano</option>
				</select>
				<button id="proknjiziButton" onclick="">Proknjizi</button>
				<button id="stornirajButton" onclick="">Storniraj</button>
			#{/}
			</p>
			
			<p>
			#{field 'magacin'}
				<label for = "${field.id}">Magacin</label>
				<select name = "${field.name}" id = "${field.id}"/>
				#{list items:magacini, as:'magacin'}
				<option value = "${magacin.id}">${magacin.naziv}</option>
				#{/list}
				</select>
			#{/}
			</p>
			
			<p>
			#{field 'poslovniPartner'}
				<label for = "${field.id}">Poslovni partner</label>
				<select name = "${field.name}" id = "${field.id}"/>
				#{list items:partneri, as:'partner'}
				<option value = "${partner.id}">${partner.nazivPartnera}</option>
				#{/list}
				</select>
			#{/}
			</p>
				
		</div>
		
		<!--  buttons  -->
		<div>
			<input type="reset" value="Resetuj formu"/>
			<button onclick="setFormAction('@{Prometnadokumenta.create()}')">Dodaj</button>
			<button onclick="setFormAction('@{Prometnadokumenta.update()}')">Izmeni</button>
			<button onclick="checkForDeletion('@{Prometnadokumenta.delete()}','Unisti dokumenta?')">Obrisi</button>
		</div>
		
	</form>
	
	<br/>
	
	<h3>Stavke</h3>
	
	<table id="sub-entity" border=1>
			<tr class="header">
				<th>Kolicina</th>
				<th>Cena</th>
				<th>Vrednost</th>
				<th>Analitika</th>
				<th>Roba</th>
			</tr>
			#{list items:stavke, as:'stavka'}
			<tr>
				<td class="sd_kolicina">${ stavka.kolicina }</td>
				<td class="sd_cena">${ stavka.cena }</td>
				<td class="sd_vrednost">${ stavka.vrednost }</td>
				<td class="sd_analitika">${ stavka.analitikaMagacinskeKartice.redniBroj }</td>
				<td class="sd_roba">${ stavka.roba.naziv }</td>
				<td style="visibility: hidden; max-width: 0px" class = "sd_id">${stavka.id}</td>
				<td style="visibility: hidden; max-width: 0px" class = "sd_amk_id">${stavka.analitikaMagacinskeKartice.id}</td>
				<td style="visibility: hidden; max-width: 0px" class = "sd_r_id">${stavka.roba.id}</td>
				<td style="visibility: hidden; max-width: 0px" class = "sd_pd_id">${stavka.prometniDokument.id}</td>
			</tr>
			#{/list}
		</table>
	
		
	<form>
	
	<!--  panel  -->
		<div>
			#{field 'id'}
			<input type="hidden" name="${field.id}" id="${field.id}"/>
			#{/}
				
			<p>
			#{field 'kolicina'}
				<label id="kolicinalbl" for="${field.id}">Kolicina</label>
				<input type="number" min="1" name="${field.name}" id="${field.id}"/>
			#{/}
			</p>
			
			<p>
			#{field 'cena'}
				<label id="cenalbl" for="${field.id}">Cena</label>
				<input type="text" name="${field.name}" id="${field.id}"/>
			#{/}
			</p>
			
			<p>
			#{field 'vrednost'}
				<label id="vrednostlbl" for="${field.id}">Vrednost</label>
				<input type="text" name="${field.name}" id="${field.id}"/>
			#{/}
			</p>
			
			<p>
			#{field 'analitikaMagacinskeKartice'}
				<label id="analitikeRobneKarticelbl" for="${field.id}">Analitike magacinske kartice</label>
				<select name="${field.name}" id="${field.id}">
					#{list items:analitike, as:'analitika'}
						<option value="${analitika.id}">${analitika.redniBroj}</option>
					#{/list}
				</select>
			#{/}
			</p>
			
			<p>
			#{field 'roba'}
				<label id="robalbl" for="${field.id}">Roba</label>
				<select name="${field.name}" id="${field.id}">
					#{list items:robe, as:'roba'}
						<option value="${roba.id}">${roba.naziv}</option>
					#{/list}
				</select>
			#{/}
			</p>
			
			#{field 'prometniDokument'}
			<input type="hidden" name="${field.id}" id="${field.id}"/>
			#{/}

		</div>
	
	<!--  buttons  -->
		<div>
			<input type="reset" value="Resetuj formu"/>
			<button onclick="setFormAction('@{Stavkedokumenta.create()}')">Dodaj</button>
			<button onclick="setFormAction('@{Stavkedokumenta.update()}')">Izmeni</button>
			<button onclick="checkForDeletion('@{Stavkedokumenta.delete()}','Unisti dokumenta?')">Obrisi</button>
		</div>	
	</form>
	
</body>
</html>