<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
<script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/tables3.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/forms.js'}" type="text/javascript" charset="UTF-8"></script>
<meta charset="UTF-8">

<title>Poslovna dokumenta</title>

</head>

<script>

function sync(item){
    vrstaDokumenta = item.find(".pd_vrstaDokumenta").html()
    redniBrojDokumenta = item.find(".pd_redniBrojDokumenta").html()
    datumFormiranja = item.find(".pd_datumFormiranja").html()
	datumKnjizenja = item.find(".pd_datumKnjizenja").html()
	statusDokumenta = item.find(".pd_statusDokumenta").html()
	magacin = item.find(".pd_m_id").html()
	poslovniPartner = item.find(".pd_pp_id").html()
	id = item.find(".pd_id").html()
    $("#vrstaDokumenta").val(vrstaDokumenta);
    $("#redniBrojDokumenta").val(redniBrojDokumenta);
    $("#datumFormiranja").val(datumFormiranja);
    $("#datumKnjizenja").val(datumKnjizenja);
    $("#statusDokumenta").val(statusDokumenta);
    $("#magacin").val(magacin);
    $("#poslovniPartner").val(poslovniPartner);
    $("#id").val(id);
    
    if(statusDokumenta == "F"){
    	document.getElementById("proknjiziButton").disabled = false;
    	document.getElementById("stornirajButton").disabled = true;
    } else if(statusDokumenta == "P"){
    	document.getElementById("stornirajButton").disabled = false;
    	if(x < 2){
    		document.getElementById("proknjiziButton").disabled = true;
    	} else {
    		document.getElementById("proknjiziButton").disabled = false;
    	}
    } else if(statusDokumenta == "S"){
    	document.getElementById("proknjiziButton").disabled = true;
    	document.getElementById("stornirajButton").disabled = true;
    }
    
    document.getElementById("vrstaDokumenta").disabled = true;
}

function undisable(){
	document.getElementById("vrstaDokumenta").disabled = false;
	document.getElementById("redniBroj").disabled = false;
	document.getElementById("statusDokumenta").disabled = false;
	document.getElementById("magacinDva").disabled = false;
}

function reactDocumentType(){
	var text = document.getElementById("vrstaDokumenta").value;
	if(text == "Mm"){
		document.getElementById("magacinDva").disabled = false;
	} else{
		document.getElementById("magacinDva").disabled = true;
	}
}

</script>



<body>
	<input type="hidden" id="docId" name="docId"/>

	<h1>Poslovna dokumenta</h1>
	
	<table id="entities" border=1>
		<tr class="header">
			<th>Vrsta dokumenta</th>
			<th>Redni broj</th>
			<th>Datum formiranja</th>
			<th>Datum knjizenja</th>
			<th>Status dokumenta</th>
			<th>Magacin</th>
			<th>Poslovni partner</th>
		</tr>
		#{list items:dokumenti, as:'dokument'}
		<tr>
			<td class="pd_vrstaDokumenta">${ dokument.vrstaDokumenta }</td>
			<td class="pd_redniBrojDokumenta">${ dokument.redniBrojDokumenta }</td>
			<td class="pd_datumFormiranja">${ dokument.datumFormiranja }</td>
			<td class="pd_datumKnjizenja">${ dokument.datumKnjizenja }</td>
			<td class="pd_statusDokumenta">${ dokument.statusDokumenta }</td>
			<td class="pd_magacin">${ dokument.magacin.naziv }</td>
			<td class="pd_poslovniPartner">${ dokument.poslovniPartner.nazivPartnera }</td>
			<td style="visibility: hidden; max-width: 0px" class = "pd_id">${dokument.id}</td>
			<td style="visibility: hidden; max-width: 0px" class = "pd_m_id">${dokument.magacin.id}</td>
			<td style="visibility: hidden; max-width: 0px" class = "pd_pp_id">${dokument.poslovniPartner.id}</td>
		</tr>
		#{/list}
	</table>
	
	<br/>
	
	<form id="crud" name="crud" action="" method="post" onsubmit="undisable()">
	
		<!--  panel  -->
		<div>
			<div class="inputFields">
		
			#{field 'id'}
			<input type="hidden" name="${field.id}" id="${field.id}"/>
			#{/}
				
			<p>
			#{field 'vrstaDokumenta'}
				<label id="vrstaDokumentalbl" for="${field.id}">Vrsta dokumenta</label>
				<select name="${field.name}" id="${field.id}" onchange="reactDocumentType()">
					<option value="Pr">Prijemnica</option>
					<option value="Ot">Otpremnica</option>
					<option value="Mm">Medju-magacinski</option>
				</select>
			#{/}
			</p>
			
			<p>
			#{field 'redniBrojDokumenta'}
				<label id="redniBrojDokumentalbl" for="${field.id}">Redni broj dokumenta</label>
				<input type="number" min="1" name="${field.name}" id="${field.id}" disabled/>
			#{/}
			</p>
			
			<p>
			#{field 'datumFormiranja'}
				<label id="datumFormiranjalbl" for="${field.id}">Formiranje (yyyy-mm-dd)</label>
				<input type="text" name="${field.name}" id="${field.id}"/>
			#{/}
			</p>
			
			<p>
			#{field 'datumKnjizenja'}
				<label id="datumKnjizenjalbl" for="${field.id}">Knjizenje (yyyy-mm-dd)</label>
				<input type="text" name="${field.name}" id="${field.id}"/>
			#{/}
			</p>
			
			<p>
			#{field 'statusDokumenta'}
				<label id="statusDokumentalbl" for="${field.id}">Status dokumenta</label>
				<select name="${field.name}" id="${field.id}" disabled>
					<option value="F">Formiranje</option>
					<option value="P">Proknjizeno</option>
					<option value="S">Stornirano</option>
				</select>
			#{/}
			</p>
			
			<p>
			#{field 'magacin'}
				<label for = "${field.id}">Magacin</label>
				<select name = "${field.name}" id = "${field.id}"/>
				#{list items:magacini, as:'magacin'}
				<option value = "${magacin.id}">${magacin.naziv}</option>
				#{/list}
				</select>
			#{/}
			</p>
			
			<p>
			#{field 'magacinDva'}
				<label for = "${field.id}">Magacin dva</label>
				<select name = "${field.name}" id = "${field.id}" onchange="reactMagacin()"/>
				#{list items:magacini, as:'magacin'}
				<option value = "${magacin.id}">${magacin.naziv}</option>
				#{/list}
				</select>
			#{/}
			</p>
			
			<p>
			#{field 'poslovniPartner'}
				<label for = "${field.id}">Poslovni partner</label>
				<select name = "${field.name}" id = "${field.id}"/>
				#{list items:partneri, as:'partner'}
				<option value = "${partner.id}">${partner.nazivPartnera}</option>
				#{/list}
				</select>
			#{/}
			</p>
				
			</div>
			
		</div>
		
		<!--  buttons  -->
		<div class="buttons">
			<input type="reset" value="Resetuj formu"/>
			<button onclick="setFormAction('@{Prometnadokumenta.create()}')">Dodaj</button>
			<button onclick="setFormAction('@{Prometnadokumenta.update()}')">Izmeni</button>
			<button onclick="checkForDeletion('@{Prometnadokumenta.delete()}','Unisti dokumenta?')">Obrisi</button>
			<!-- <button id="proknjiziButton" onclick="setFormAction('@{Prometnadokumenta.proknjizi()}')">Proknjizi</button>
			<button id="stornirajButton" onclick="setFormAction('@{Prometnadokumenta.storniraj()}')">Storniraj</button> -->
		</div>
		
	</form>
	
	<br/>
	
</form>
	
	<a href="../../">Home</a>

</body>
</html>